@media screen and (max-width: 768px) {
    .nota-img {
        max-width: 100%;
        float: none;
    }

}
    
.nota-img {
    max-width: 90%;
    min-width: 50%;
    float: left;
}

.gonder-btn {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-left: 3px;
}

.navitem {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    padding: 20px;
    margin: 0 5px;
    font-size: 14px !important;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    color: #010101;
    border: 1px solid rgb(8, 148, 83);
    transition: ease 0.5s; 
}

.navitem:hover {
    background-color: rgb(8, 148, 83);
    color: #fff;
    transition: ease 0.5s; 
}

.sarki-list-item{
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 14px !important;
    text-decoration: none!important;
    font-weight: bold!important;
    text-transform: uppercase;
    font-size: 10px;
    color: #010101!important;
    border: 1px solid rgb(8, 148, 83)!important;
    transition: ease 0.5s!important; 
}

.sarki-list-item:hover {
    background-color: rgb(8, 148, 83)!important;
    color: #fff!important;
    transition: ease 0.5s!important; 
}

.sarkilar-container {
    float: right;
}

.sarkilar-container, .nota-img{
    min-height: 90vh;
    height: 90vh;
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 14px !important;
    text-decoration: none!important;
    font-weight: bold!important;
    text-transform: uppercase;
    font-size: 10px;
    color: #010101!important;
    border: 1px solid rgb(8, 148, 83)!important;
    transition: ease 0.5s!important; 
}

.notalar-scroll{
    overflow-y: scroll;
}

.notalar-scroll::-webkit-scrollbar {
    width: 0.01px;
}

.iletisim-container, .iletisim-container input, .iletisim-container textarea, .iletisim-container button, .hakkinda-card, .hakkinda-card .card-header {
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 16px !important;
    text-decoration: none!important;
    font-weight: bold!important;

    font-size: 10px;
    color: #010101!important;
    border: 1px solid rgb(8, 148, 83)!important;
    transition: ease 0.5s!important; 
}

::-webkit-scrollbar {
    width: 8px;
}
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(8, 148, 83);
}
  

::-webkit-scrollbar-thumb:hover {
    background: rgb(17, 88, 55);
}
